In [27]:
import pandas as pd # dataframes
import numpy as np # algebra & calculus
import nltk # text preprocessing & manipulation
# from textblob import TextBlob
import matplotlib.pyplot as plt # plotting
import seaborn as sns # plotting
%matplotlib inline
from functools import partial # to reduce df memory consumption by applying to_numeric

color = sns.color_palette() # adjusting plotting style
import warnings
warnings.filterwarnings('ignore') # silence annoying warnings

In [28]:
## count data-set for each csv file
# aisles
aisles = pd.read_csv('aisles.csv', engine='c')
print('Total aisles: {}'.format(aisles.shape[0]))

# departments
departments = pd.read_csv('departments.csv', engine='c')
print('Total departments: {}'.format(departments.shape[0]))

# products
products = pd.read_csv('products.csv', engine='c')
print('Total products: {}'.format(products.shape[0]))

Total aisles: 134
Total departments: 21
Total products: 49688

In [29]:
aisles

     aisle_id                          aisle
0           1          prepared soups salads
1           2              specialty cheeses
2           3            energy granola bars
3           4                  instant foods
4           5     marinades meat preparation
5           6                          other
6           7                  packaged meat
7           8                bakery desserts
8           9                    pasta sauce
9          10               kitchen supplies
10         11               cold flu allergy
11         12                    fresh pasta
12         13                 prepared meals
13         14         tofu meat alternatives
14         15               packaged seafood
15         16                    fresh herbs
16         17             baking ingredients
17         18   bulk dried fruits vegetables
18         19                  oils vinegars
19         20                   oral hygiene
20         21                packaged cheese
21         22                      hair care
22         23                  popcorn jerky
23         24                   fresh fruits
24         25                           soap
25         26                         coffee
26         27                  beers coolers
27         28                      red wines
28         29          honeys syrups nectars
29         30                   latino foods
..        ...                            ...
104       105     doughs gelatins bake mixes
105       106         hot dogs bacon sausage
106       107                 chips pretzels
107       108           other creams cheeses
108       109                      skin care
109       110           pickled goods olives
110       111     plates bowls cups flatware
111       112                          bread
112       113                   frozen juice
113       114              cleaning products
114       115  water seltzer sparkling water
115       116                 frozen produce
116       117         nuts seeds dried fruit
117       118                      first aid
118       119                 frozen dessert
119       120                         yogurt
120       121                         cereal
121       122                   meat counter
122       123     packaged vegetables fruits
123       124                        spirits
124       125            trail mix snack mix
125       126                  feminine care
126       127              body lotions soap
127       128           tortillas flat bread
128       129        frozen appetizers sides
129       130       hot cereal pancake mixes
130       131                      dry pasta
131       132                         beauty
132       133     muscles joints pain relief
133       134     specialty wines champagnes

[134 rows x 2 columns]

In [30]:
departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [31]:
products.tail(3)

,product_id,product_name,aisle_id,department_id
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [32]:
# combine aisles, departments and products (left joined to products)
goods = pd.merge(left=pd.merge(left=products, right=departments, how='left'), right=aisles, how='left')
goods.tail()

,product_id,product_name,aisle_id,department_id,department,aisle
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,alcohol,spirits
49684,49685,En Croute Roast Hazelnut Cranberry,42,1,frozen,frozen vegan vegetarian
49685,49686,Artisan Baguette,112,3,bakery,bread
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,pets,cat food care
49687,49688,Fresh Foaming Cleanser,73,11,personal care,facial care

In [33]:
# to retain '-' and make product names more "standard"
goods.product_name = goods.product_name.str.replace(' ', '_').str.lower() 
goods.product_name.tail()

49683     vodka,_triple_distilled,_twist_of_vanilla
49684            en_croute_roast_hazelnut_cranberry
49685                              artisan_baguette
49686    smartblend_healthy_metabolism_dry_cat_food
49687                        fresh_foaming_cleanser
Name: product_name, dtype: object

In [34]:
# retype goods to reduce memory usage
goods.product_id = goods.product_id.astype(np.int32)
goods.aisle_id = goods.aisle_id.astype(np.int16)
goods.department_id = goods.department_id.astype(np.int8)

In [35]:
## load datasets
# train dataset
op_train = pd.read_csv('order_products__train.csv', engine='c', 
                       dtype={'order_id': np.int32, 
                              'product_id': np.int32, 
                              'add_to_cart_order': np.int16, 
                              'reordered': np.int8})
print('Total ordered products(train): {}'.format(op_train.shape[0]))

Total ordered products(train): 1384617

In [36]:
op_train.tail(3)

         order_id  product_id  add_to_cart_order  reordered
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

In [37]:
# test dataset (submission)
test = pd.read_csv('sample_submission.csv', engine='c')
print('Total orders(test): {}'.format(test.shape[0]))

Total orders(test): 75000

In [38]:
test

       order_id     products
0            17  39276 29259
1            34  39276 29259
2           137  39276 29259
3           182  39276 29259
4           257  39276 29259
5           313  39276 29259
6           353  39276 29259
7           386  39276 29259
8           414  39276 29259
9           418  39276 29259
10          437  39276 29259
11          452  39276 29259
12          474  39276 29259
13          492  39276 29259
14          497  39276 29259
15          513  39276 29259
16          517  39276 29259
17          604  39276 29259
18          680  39276 29259
19          758  39276 29259
20          759  39276 29259
21          887  39276 29259
22         1161  39276 29259
23         1195  39276 29259
24         1304  39276 29259
25         1408  39276 29259
26         1513  39276 29259
27         1564  39276 29259
28         1727  39276 29259
29         1789  39276 29259
...         ...          ...
74970   3419522  39276 29259
74971   3419568  39276 29259
74972   3419574  39276 29259
74973   3419600  39276 29259
74974   3419623  39276 29259
74975   3419726  39276 29259
74976   3419729  39276 29259
74977   3419732  39276 29259
74978   3419743  39276 29259
74979   3419832  39276 29259
74980   3419878  39276 29259
74981   3419910  39276 29259
74982   3419934  39276 29259
74983   3420147  39276 29259
74984   3420168  39276 29259
74985   3420237  39276 29259
74986   3420327  39276 29259
74987   3420360  39276 29259
74988   3420390  39276 29259
74989   3420443  39276 29259
74990   3420449  39276 29259
74991   3420544  39276 29259
74992   3420569  39276 29259
74993   3420651  39276 29259
74994   3420702  39276 29259
74995   3420740  39276 29259
74996   3420877  39276 29259
74997   3420888  39276 29259
74998   3420989  39276 29259
74999   3421054  39276 29259

[75000 rows x 2 columns]

In [39]:
#prior dataset
op_prior = pd.read_csv('order_products__prior.csv', engine='c', 
                       dtype={'order_id': np.int32, 
                              'product_id': np.int32, 
                              'add_to_cart_order': np.int16, 
                              'reordered': np.int8})

print('Total ordered products(prior): {}'.format(op_prior.shape[0]))

Total ordered products(prior): 32434489

In [40]:
op_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [41]:
# orders
orders = pd.read_csv('orders.csv', engine='c', dtype={'order_id': np.int32, 
                                                      'user_id': np.int32, 
                                                      'order_number': np.int16,  # max 100, could use int8
                                                      'order_dow': np.int8, 
                                                      'order_hour_of_day': np.int8, 
                                                      'days_since_prior_order': np.float16})
print('Total orders: {}'.format(orders.shape[0]))

Total orders: 3421083

In [42]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
...,...,...,...,...,...,...,...
3421053,2789700,206208,prior,35,3,22,4.0
3421054,844592,206208,prior,36,6,15,10.0
3421055,1541132,206208,prior,37,2,12,3.0
3421056,2808240,206208,prior,38,0,15,19.0
3421057,3027766,206208,prior,39,2,14,9.0
3421058,3356245,206208,prior,40,5,9,10.0
3421059,442304,206208,prior,41,2,14,11.0
3421060,2675140,206208,prior,42,1,19,6.0
3421061,167903,206208,prior,43,4,14,3.0
3421062,2393201,206208,prior,44,6,16,2.0
3421063,3292671,206208,prior,45,2,11,3.0
3421064,3059777,206208,prior,46,1,10,13.0
3421065,2239861,206208,prior,47,3,4,9.0
3421066,1285346,206208,prior,48,1,11,5.0
3421067,1882108,206208,prior,49,1,22,7.0
3421068,803273,206208,test,50,5,11,4.0
3421069,3154581,206209,prior,1,3,11,NaN
3421070,1889163,206209,prior,2,3,17,7.0
3421071,1542354,206209,prior,3,5,11,30.0
3421072,688306,206209,prior,4,1,10,30.0
3421073,2307371,206209,prior,5,4,15,3.0
3421074,3186442,206209,prior,6,0,16,3.0
3421075,550836,206209,prior,7,2,13,9.0
3421076,2129269,206209,prior,8,3,17,22.0
3421077,2558525,206209,prior,9,4,15,22.0
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [43]:
# numerization of eval_set 
orders.eval_set = orders.eval_set.replace({'prior': 0, 'train': 1, 'test':2}).astype(np.int8)
orders.days_since_prior_order = orders.days_since_prior_order.fillna(-1).astype(np.int8) # int형으로 변환, 누락된 값 -1로 치환

In [44]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,0,1,2,8,-1
1,2398795,1,0,2,3,7,15
2,473747,1,0,3,3,12,21
3,2254736,1,0,4,4,7,29
4,431534,1,0,5,4,15,28
5,3367565,1,0,6,2,7,19
6,550135,1,0,7,1,9,20
7,3108588,1,0,8,1,14,14
8,2295261,1,0,9,1,16,0
9,2550362,1,0,10,4,8,30
10,1187899,1,1,11,4,8,14
11,2168274,2,0,1,2,11,-1
12,1501582,2,0,2,5,10,10
13,1901567,2,0,3,1,10,3
14,738281,2,0,4,2,10,8
15,1673511,2,0,5,3,11,8
16,1199898,2,0,6,2,9,13
17,3194192,2,0,7,2,12,14
18,788338,2,0,8,1,15,27
19,1718559,2,0,9,2,9,8
20,1447487,2,0,10,1,11,6
21,1402090,2,0,11,1,10,30
22,3186735,2,0,12,1,9,28
23,3268552,2,0,13,4,11,30
24,839880,2,0,14,3,10,13
25,1492625,2,1,15,1,11,30
26,1374495,3,0,1,1,14,-1
27,444309,3,0,2,3,19,9
28,3002854,3,0,3,3,16,21
29,2037211,3,0,4,2,18,20
...,...,...,...,...,...,...,...
3421053,2789700,206208,0,35,3,22,4
3421054,844592,206208,0,36,6,15,10
3421055,1541132,206208,0,37,2,12,3
3421056,2808240,206208,0,38,0,15,19
3421057,3027766,206208,0,39,2,14,9
3421058,3356245,206208,0,40,5,9,10
3421059,442304,206208,0,41,2,14,11
3421060,2675140,206208,0,42,1,19,6
3421061,167903,206208,0,43,4,14,3
3421062,2393201,206208,0,44,6,16,2
3421063,3292671,206208,0,45,2,11,3
3421064,3059777,206208,0,46,1,10,13
3421065,2239861,206208,0,47,3,4,9
3421066,1285346,206208,0,48,1,11,5
3421067,1882108,206208,0,49,1,22,7
3421068,803273,206208,2,50,5,11,4
3421069,3154581,206209,0,1,3,11,-1
3421070,1889163,206209,0,2,3,17,7
3421071,1542354,206209,0,3,5,11,30
3421072,688306,206209,0,4,1,10,30
3421073,2307371,206209,0,5,4,15,3
3421074,3186442,206209,0,6,0,16,3
3421075,550836,206209,0,7,2,13,9
3421076,2129269,206209,0,8,3,17,22
3421077,2558525,206209,0,9,4,15,22
3421078,2266710,206209,0,10,5,18,29
3421079,1854736,206209,0,11,4,10,30
3421080,626363,206209,0,12,1,12,18
3421081,2977660,206209,0,13,1,12,7
3421082,272231,206209,1,14,6,14,30

In [45]:
from functools import partial

# merge train and prior together iteratively, to fit into 8GB kernel RAM
# split df indexes into parts ()
indexes = np.linspace(0, len(op_prior), num=10, dtype=np.int32)

# initialize it with train dataset
train_details = pd.merge(
                left=op_train,
                 right=orders, 
                 how='left', 
                 on='order_id'
        ).apply(partial(pd.to_numeric, errors='ignore', downcast='integer'))

# add order hierarchy
train_details = pd.merge(
                left=train_details,
                right=goods[['product_id', 
                             'aisle_id', 
                             'department_id']].apply(partial(pd.to_numeric, 
                                                             errors='ignore', 
                                                             downcast='integer')),
                how='left',
                on='product_id'
)

print(train_details.shape, op_train.shape)

# delete (redundant now) dataframes
#del op_train

#order_details.head()

(1384617, 12) (1384617, 4)

In [46]:
indexes

array([       0,  3603832,  7207664, 10811496, 14415328, 18019160,
       21622992, 25226824, 28830656, 32434489])

In [47]:
train_details

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle_id,department_id
0,1,49302,1,1,112108,1,4,4,10,9,120,16
1,1,11109,2,1,112108,1,4,4,10,9,108,16
2,1,10246,3,0,112108,1,4,4,10,9,83,4
3,1,49683,4,0,112108,1,4,4,10,9,83,4
4,1,43633,5,1,112108,1,4,4,10,9,95,15
5,1,13176,6,0,112108,1,4,4,10,9,24,4
6,1,47209,7,0,112108,1,4,4,10,9,24,4
7,1,22035,8,1,112108,1,4,4,10,9,21,16
8,36,39612,1,0,79431,1,23,6,18,30,2,16
9,36,19660,2,1,79431,1,23,6,18,30,115,7
10,36,49235,3,0,79431,1,23,6,18,30,53,16
11,36,43086,4,1,79431,1,23,6,18,30,123,4
12,36,46620,5,1,79431,1,23,6,18,30,86,16
13,36,34497,6,1,79431,1,23,6,18,30,96,20
14,36,48679,7,1,79431,1,23,6,18,30,83,4
15,36,46979,8,1,79431,1,23,6,18,30,83,4
16,38,11913,1,0,42756,1,6,6,16,24,117,19
17,38,18159,2,0,42756,1,6,6,16,24,123,4
18,38,4461,3,0,42756,1,6,6,16,24,19,13
19,38,21616,4,1,42756,1,6,6,16,24,123,4
20,38,23622,5,0,42756,1,6,6,16,24,83,4
21,38,32433,6,0,42756,1,6,6,16,24,116,1
22,38,28842,7,0,42756,1,6,6,16,24,16,4
23,38,42625,8,0,42756,1,6,6,16,24,16,4
24,38,39693,9,0,42756,1,6,6,16,24,16,4
25,96,20574,1,1,17227,1,7,6,20,30,96,20
26,96,30391,2,0,17227,1,7,6,20,30,83,4
27,96,40706,3,1,17227,1,7,6,20,30,123,4
28,96,25610,4,0,17227,1,7,6,20,30,116,1
29,96,27966,5,1,17227,1,7,6,20,30,123,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1384587,3421026,32237,3,0,174668,1,4,0,20,30,131,9
1384588,3421026,10,4,0,174668,1,4,0,20,30,115,7
1384589,3421026,4493,5,0,174668,1,4,0,20,30,115,7
1384590,3421026,7781,6,0,174668,1,4,0,20,30,21,16
1384591,3421049,40800,1,0,189544,1,4,1,9,3,58,1
1384592,3421049,17706,2,0,189544,1,4,1,9,3,93,3
1384593,3421049,33424,3,1,189544,1,4,1,9,3,64,7
1384594,3421049,17299,4,0,189544,1,4,1,9,3,81,15
1384595,3421049,26800,5,0,189544,1,4,1,9,3,123,4
1384596,3421049,34243,6,0,189544,1,4,1,9,3,83,4
1384597,3421056,5750,1,1,83898,1,13,2,20,11,120,16
1384598,3421056,9340,2,1,83898,1,13,2,20,11,38,1
1384599,3421056,21709,3,1,83898,1,13,2,20,11,115,7
1384600,3421056,16475,4,0,83898,1,13,2,20,11,43,3
1384601,3421056,12432,5,0,83898,1,13,2,20,11,72,13
1384602,3421058,15629,1,1,136952,1,20,3,18,15,2,16
1384603,3421058,4347,2,1,136952,1,20,3,18,15,49,12
1384604,3421058,34466,3,1,136952,1,20,3,18,15,116,1
1384605,3421058,6244,4,1,136952,1,20,3,18,15,77,7
1384606,3421058,6858,5,1,136952,1,20,3,18,15,78,19
1384607,3421058,30316,6,1,136952,1,20,3,18,15,21,16
1384608,3421058,35578,7,0,136952,1,20,3,18,15,7,12
1384609,3421058,32650,8,1,136952,1,20,3,18,15,54,17
1384610,3421063,49235,1,1,169679,1,30,0,10,4,53,16
1384611,3421063,13565,2,1,169679,1,30,0,10,4,107,19
1384612,3421063,14233,3,1,169679,1,30,0,10,4,115,7
1384613,3421063,35548,4,1,169679,1,30,0,10,4,13,20
1384614,3421070,35951,1,1,139822,1,15,6,10,8,91,16
1384615,3421070,16953,2,1,139822,1,15,6,10,8,88,13
1384616,3421070,4724,3,1,139822,1,15,6,10,8,32,4

In [48]:
%%time
# update by small portions
order_details = pd.merge(left=pd.merge(
                         left=op_prior,
                         right=goods[['product_id', 
                                      'aisle_id', 
                                      'department_id' ]],
                         how='left',
                         on='product_id'
                         ),
                         right=orders, 
                         how='left', 
                         on='order_id')
        
print('Datafame length: {}'.format(order_details.shape[0]))
print('Memory consumption: {:.2f} Mb'.format(sum(order_details.memory_usage(index=True, 
                                                                         deep=True) / 2**20)))
# check dtypes to see if we use memory effectively
#print(order_details.dtypes)

# make sure we didn't forget to retain test dataset :D
#test_orders = orders[orders.eval_set == 2]

Datafame length: 32434489
Memory consumption: 989.82 Mb
Wall time: 14.2 s

In [49]:
order_details

,order_id,product_id,add_to_cart_order,reordered,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,86,16,202279,0,3,5,9,8
1,2,28985,2,1,83,4,202279,0,3,5,9,8
2,2,9327,3,0,104,13,202279,0,3,5,9,8
3,2,45918,4,1,19,13,202279,0,3,5,9,8
4,2,30035,5,0,17,13,202279,0,3,5,9,8
5,2,17794,6,1,83,4,202279,0,3,5,9,8
6,2,40141,7,1,105,13,202279,0,3,5,9,8
7,2,1819,8,1,88,13,202279,0,3,5,9,8
8,2,43668,9,0,123,4,202279,0,3,5,9,8
9,3,33754,1,1,120,16,205970,0,16,5,17,12
10,3,24838,2,1,91,16,205970,0,16,5,17,12
11,3,17704,3,1,123,4,205970,0,16,5,17,12
12,3,21903,4,1,123,4,205970,0,16,5,17,12
13,3,17668,5,1,91,16,205970,0,16,5,17,12
14,3,46667,6,1,83,4,205970,0,16,5,17,12
15,3,17461,7,1,35,12,205970,0,16,5,17,12
16,3,32665,8,1,112,3,205970,0,16,5,17,12
17,4,46842,1,0,93,3,178520,0,36,1,9,7
18,4,26434,2,1,11,11,178520,0,36,1,9,7
19,4,39758,3,1,3,19,178520,0,36,1,9,7
20,4,27761,4,1,48,14,178520,0,36,1,9,7
21,4,10054,5,1,48,14,178520,0,36,1,9,7
22,4,21351,6,1,48,14,178520,0,36,1,9,7
23,4,22598,7,1,48,14,178520,0,36,1,9,7
24,4,34862,8,1,107,19,178520,0,36,1,9,7
25,4,40285,9,1,125,19,178520,0,36,1,9,7
26,4,17616,10,1,78,19,178520,0,36,1,9,7
27,4,25146,11,1,31,7,178520,0,36,1,9,7
28,4,32645,12,1,64,7,178520,0,36,1,9,7
29,4,41276,13,1,64,7,178520,0,36,1,9,7
...,...,...,...,...,...,...,...,...,...,...,...,...
32434459,3421080,41950,4,0,83,4,52726,0,2,1,11,2
32434460,3421080,31717,5,0,16,4,52726,0,2,1,11,2
32434461,3421080,12935,6,1,86,16,52726,0,2,1,11,2
32434462,3421080,25122,7,0,36,16,52726,0,2,1,11,2
32434463,3421080,10667,8,0,36,16,52726,0,2,1,11,2
32434464,3421080,38061,9,0,36,16,52726,0,2,1,11,2
32434465,3421081,38185,1,0,107,19,117076,0,1,3,11,-1
32434466,3421081,12218,2,0,112,3,117076,0,1,3,11,-1
32434467,3421081,32299,3,0,72,13,117076,0,1,3,11,-1
32434468,3421081,3060,4,0,21,16,117076,0,1,3,11,-1
32434469,3421081,20539,5,0,69,15,117076,0,1,3,11,-1
32434470,3421081,35221,6,0,115,7,117076,0,1,3,11,-1
32434471,3421081,12861,7,0,67,20,117076,0,1,3,11,-1
32434472,3421082,17279,1,1,49,12,175185,0,23,2,18,4
32434473,3421082,12738,2,1,36,16,175185,0,23,2,18,4
32434474,3421082,16797,3,0,24,4,175185,0,23,2,18,4
32434475,3421082,43352,4,1,32,4,175185,0,23,2,18,4
32434476,3421082,32700,5,1,53,16,175185,0,23,2,18,4
32434477,3421082,12023,6,0,117,19,175185,0,23,2,18,4
32434478,3421082,47941,7,0,121,14,175185,0,23,2,18,4
32434479,3421083,7854,1,0,117,19,25247,0,24,2,6,21
32434480,3421083,45309,2,0,92,18,25247,0,24,2,6,21
32434481,3421083,21162,3,0,92,18,25247,0,24,2,6,21
32434482,3421083,18176,4,1,92,18,25247,0,24,2,6,21
32434483,3421083,35211,5,0,92,18,25247,0,24,2,6,21
32434484,3421083,39678,6,1,74,17,25247,0,24,2,6,21
32434485,3421083,11352,7,0,78,19,25247,0,24,2,6,21
32434486,3421083,4600,8,0,52,1,25247,0,24,2,6,21
32434487,3421083,24852,9,1,24,4,25247,0,24,2,6,21
32434488,3421083,5020,10,1,3,19,25247,0,24,2,6,21

In [50]:
train_orders = orders[orders.eval_set == 1]
train_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
10,1187899,1,1,11,4,8,14
25,1492625,2,1,15,1,11,30
49,2196797,5,1,5,0,11,6
74,525192,7,1,21,2,11,6
78,880375,8,1,4,1,14,10
82,1094988,9,1,4,6,10,30
88,1822501,10,1,6,0,19,30
115,1827621,13,1,13,0,21,8
129,2316178,14,1,14,2,19,11
200,2180313,17,1,41,3,10,30
207,2461523,18,1,7,6,9,7
256,1854765,21,1,34,1,12,28
277,3402036,23,1,5,1,12,30
296,965160,24,1,19,0,16,0
395,2614670,27,1,82,5,14,4
439,3110252,29,1,19,4,11,13
448,62370,30,1,9,2,13,22
485,698604,34,1,6,4,13,30
557,1524161,37,1,24,0,13,16
570,3173750,38,1,13,0,9,30
594,2032076,41,1,6,0,20,30
611,2803975,42,1,17,0,11,14
623,1864787,43,1,12,5,11,26
627,2436259,44,1,4,0,12,30
652,1947848,46,1,20,4,20,11
658,2906490,47,1,6,4,22,16
669,2924697,48,1,11,5,18,14
678,519514,49,1,9,4,12,2
746,1750084,50,1,68,3,9,7
778,1647290,52,1,28,4,16,3
...,...,...,...,...,...,...,...
3420282,1014278,206159,1,7,3,10,9
3420328,130224,206162,1,19,3,12,14
3420340,1011957,206164,1,6,2,17,30
3420368,1521740,206165,1,28,6,0,2
3420393,1345413,206167,1,5,2,15,30
3420415,2190740,206169,1,9,0,14,7
3420422,3204749,206170,1,7,3,12,26
3420429,243575,206171,1,7,0,22,11
3420436,487224,206172,1,7,5,12,5
3420493,1620607,206174,1,53,4,22,10
3420500,1241200,206175,1,7,0,15,14
3420515,1533014,206176,1,15,6,16,12
3420523,36236,206177,1,8,6,14,8
3420543,813551,206178,1,20,4,12,11
3420581,681092,206181,1,15,1,13,30
3420612,67174,206184,1,5,1,15,30
3420623,2048154,206185,1,11,4,13,20
3420627,160694,206186,1,4,5,15,7
3420670,3367945,206188,1,8,1,21,30
3420686,2108733,206190,1,9,5,14,30
3420692,2530125,206191,1,6,0,9,30
3420749,2518868,206193,1,42,5,12,5
3420781,2986595,206195,1,20,0,14,30
3420786,3383615,206196,1,5,0,15,30
3420818,2951304,206198,1,8,6,12,30
3420838,2585586,206199,1,20,2,16,30
3420862,943915,206200,1,24,6,19,6
3420924,2371631,206203,1,6,4,19,30
3420933,1716008,206205,1,4,1,16,10
3421082,272231,206209,1,14,6,14,30

In [51]:
# switch to integer train indexes so .loc == .iloc
train_orders.index.name = 'raw_order'
train_orders.reset_index(inplace=True)
train_orders

,raw_order,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,10,1187899,1,1,11,4,8,14
1,25,1492625,2,1,15,1,11,30
2,49,2196797,5,1,5,0,11,6
3,74,525192,7,1,21,2,11,6
4,78,880375,8,1,4,1,14,10
5,82,1094988,9,1,4,6,10,30
6,88,1822501,10,1,6,0,19,30
7,115,1827621,13,1,13,0,21,8
8,129,2316178,14,1,14,2,19,11
9,200,2180313,17,1,41,3,10,30
10,207,2461523,18,1,7,6,9,7
11,256,1854765,21,1,34,1,12,28
12,277,3402036,23,1,5,1,12,30
13,296,965160,24,1,19,0,16,0
14,395,2614670,27,1,82,5,14,4
15,439,3110252,29,1,19,4,11,13
16,448,62370,30,1,9,2,13,22
17,485,698604,34,1,6,4,13,30
18,557,1524161,37,1,24,0,13,16
19,570,3173750,38,1,13,0,9,30
20,594,2032076,41,1,6,0,20,30
21,611,2803975,42,1,17,0,11,14
22,623,1864787,43,1,12,5,11,26
23,627,2436259,44,1,4,0,12,30
24,652,1947848,46,1,20,4,20,11
25,658,2906490,47,1,6,4,22,16
26,669,2924697,48,1,11,5,18,14
27,678,519514,49,1,9,4,12,2
28,746,1750084,50,1,68,3,9,7
29,778,1647290,52,1,28,4,16,3
...,...,...,...,...,...,...,...,...
131179,3420282,1014278,206159,1,7,3,10,9
131180,3420328,130224,206162,1,19,3,12,14
131181,3420340,1011957,206164,1,6,2,17,30
131182,3420368,1521740,206165,1,28,6,0,2
131183,3420393,1345413,206167,1,5,2,15,30
131184,3420415,2190740,206169,1,9,0,14,7
131185,3420422,3204749,206170,1,7,3,12,26
131186,3420429,243575,206171,1,7,0,22,11
131187,3420436,487224,206172,1,7,5,12,5
131188,3420493,1620607,206174,1,53,4,22,10
131189,3420500,1241200,206175,1,7,0,15,14
131190,3420515,1533014,206176,1,15,6,16,12
131191,3420523,36236,206177,1,8,6,14,8
131192,3420543,813551,206178,1,20,4,12,11
131193,3420581,681092,206181,1,15,1,13,30
131194,3420612,67174,206184,1,5,1,15,30
131195,3420623,2048154,206185,1,11,4,13,20
131196,3420627,160694,206186,1,4,5,15,7
131197,3420670,3367945,206188,1,8,1,21,30
131198,3420686,2108733,206190,1,9,5,14,30
131199,3420692,2530125,206191,1,6,0,9,30
131200,3420749,2518868,206193,1,42,5,12,5
131201,3420781,2986595,206195,1,20,0,14,30
131202,3420786,3383615,206196,1,5,0,15,30
131203,3420818,2951304,206198,1,8,6,12,30
131204,3420838,2585586,206199,1,20,2,16,30
131205,3420862,943915,206200,1,24,6,19,6
131206,3420924,2371631,206203,1,6,4,19,30
131207,3420933,1716008,206205,1,4,1,16,10
131208,3421082,272231,206209,1,14,6,14,30

In [52]:
import graphviz
import xgboost as xgb

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(order_details, test_size=0.25)

In [53]:
xgbr = xgb.XGBRegressor(n_estimators=100, max_depth=1)

In [54]:
xgbr.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [45]:
def get_last_orders_reordered(test_orders):
    test_history = order_details[(order_details.user_id.isin(test_orders.user_id))]
    last_orders = test_history.groupby('user_id')['order_number'].max()
    
    t = pd.merge(
        left=pd.merge(
                left=last_orders.reset_index(),
                right=test_history[test_history.reordered == 1],
                how='left',
                on=['user_id', 'order_number']
            )[['user_id', 'product_id']],
        right=test_orders[['user_id', 'order_id']],
        how='left',
        on='user_id'
    ).fillna(-1).groupby('order_id')['product_id'].apply(lambda x: ' '.join([str(int(e)) for e in set(x)]) 
                                              ).reset_index().replace(to_replace='-1', value='None')
    t.columns = ['order_id', 'products']
    
    # occasionally there is a bug where a line with order_id == -1 makes it through. doesn't *seem* to effect things
    return t[t.order_id > 0].set_index('order_id')

Run the above function for 4 folds...  
Strictly speaking, this model does not have any interdependance on the train set, but to provide a complete demonstration KFold is used anyway.

In [46]:
import sklearn.model_selection

cvpreds = []

kf = sklearn.model_selection.KFold(4, shuffle=True, random_state=0)
for train_index, test_index in kf.split(train_orders.index):
    cvpreds.append(get_last_orders_reordered(train_orders.iloc[test_index]))

df_cvpreds = pd.concat(cvpreds).sort_index()
df_cvpreds.tail()

                                                   products
order_id
3421049                                                None
3421056                                                5750
3421058                   21795 6244 36103 15629 24852 4347
3421063   22474 44717 19517 19057 9076 38293 30169 26714...
3421070                                          46149 2855

In [47]:
# Now to produce output (indentical to original notebook, so submission is not necessary!)
test_preds = get_last_orders_reordered(orders[orders.eval_set == 2])
test_preds.to_csv('cvtest-output.csv', encoding='utf-8')

### CV F1 validation code begins here  
Produce an equivalent .csv + DataFrame to output with the train ground truth data

In [48]:
try:
    df_train_gt = pd.read_csv('train.csv', index_col='order_id')
except:
    train_gtl = []

    for uid, subset in train_details.groupby('user_id'):
        subset1 = subset[subset.reordered == 1]
        oid = subset.order_id.values[0]

        if len(subset1) == 0:
            train_gtl.append((oid, 'None'))
            continue

        ostr = ' '.join([str(int(e)) for e in subset1.product_id.values])
        # .strip is needed because join can have a padding space at the end
        train_gtl.append((oid, ostr.strip()))

    df_train_gt = pd.DataFrame(train_gtl)

    df_train_gt.columns = ['order_id', 'products']
    df_train_gt.set_index('order_id', inplace=True)
    df_train_gt.sort_index(inplace=True)
    
    df_train_gt.to_csv('train.csv')

Now compare the ground truth and CV DataFrames

In [49]:
f1 = []
for gt, pred in zip(df_train_gt.sort_index().products, df_cvpreds.sort_index().products):
    lgt = gt.replace("None", "-1").split(' ')
    lpred = pred.replace("None", "-1").split(' ')
    
    rr = (np.intersect1d(lgt, lpred))
    precision = np.float(len(rr)) / len(lpred)
    recall = np.float(len(rr)) / len(lgt)

    denom = precision + recall
    f1.append(((2 * precision * recall) / denom) if denom > 0 else 0)

print(np.mean(f1))

0.32558651711